In [1]:
pip install datacompy

Collecting datacompy
  Downloading datacompy-0.7.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.25.0 in c:\users\admin\anaconda3\lib\site-packages (from datacompy) (1.0.1)
Requirement already satisfied: numpy>=1.11.3 in c:\users\admin\anaconda3\lib\site-packages (from datacompy) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.25.0->datacompy) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25.0->datacompy) (1.14.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.7.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import datacompy, pandas as pd
df1 = pd.read_csv('Dataset.csv')
df2 = pd.read_csv('realtime_data_set_final.csv')
print(df1.head(10))
print(df2.head(10))

      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589980e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262960e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679510e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841190e+12        5642494      F  2016-04-29T16:07:23Z
5  9.598510e+13        5626772      F  2016-04-27T08:36:51Z
6  7.336880e+14        5630279      F  2016-04-27T15:05:12Z
7  3.449830e+12        5630575      F  2016-04-27T15:39:58Z
8  5.639470e+13        5638447      F  2016-04-29T08:02:16Z
9  7.812460e+13        5629123      F  2016-04-27T12:48:25Z

         AppointmentDay  Age      Neighbourhood  Unnamed: 7  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA         NaN             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA         NaN             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA         NaN             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI         NaN             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA         NaN             1
5  2016-04-29T00:00:00Z   76          REPÚBLICA         NaN             1
6  2016-04-29T00:00:00Z   23         GOIABEIRAS         NaN             0
7  2016-04-29T00:00:00Z   39         GOIABEIRAS         NaN             0
8  2016-04-29T00:00:00Z   21         ANDORINHAS         NaN             0
9  2016-04-29T00:00:00Z   19          CONQUISTA         NaN             0

   Diabetes  Alcoholism
0         0           0
1         0           0
2         0           0
3         0           0
4         1           0
5         0           0
6         0           0
7         0           0
8         0           0
9         0           0
   Patient Age Patient Gender Patient Location (District) Symptoms  \
0           26           MALE                       Thane     cold
1           32         FEMALE                      Mumbai    fever
2           45           MALE                      Raigad    cough
3           20         FEMALE                       Thane     cold
4           23           MALE                      Mumbai    fever
5           33         FEMALE                      Raigad    cough
6           24           MALE                 navi mumbai     cold
7           55         FEMALE                 navi mumbai    fever
8           43           MALE                       Thane    cough
9           24         FEMALE                      Mumbai     cold

  Pre-existing conditions Scheduled Appointment BOOKING NUMBER
0                diabetes            7-Jul-2018             B1
1                    none            8-Jul-2018             B2
2            hypertension            9-Jul-2018             B3
3             hypotension           10-Jul-2018             B4
4                diabetes           11-Jul-2018             B5
5                    none           12-Jul-2018             B6
6            hypertension           13-Jul-2018             B7
7             hypotension           14-Jul-2018             B8
8                diabetes           15-Jul-2018             B9
9                    none           16-Jul-2018            B10

In [2]:
import datacompy
import pandas as pd
df1 = pd.read_csv('Dataset.csv')
df2 = pd.read_csv('realtime_data_set_final.csv')
compare = datacompy.Compare(
df1,
df2,
on_index=True,  #You can also specify a list of columns eg ['policyID','statecode']
abs_tol=0, #Optional, defaults to 0
rel_tol=0, #Optional, defaults to 0
df1_name='Trial', #Optional, defaults to 'df1'
df2_name='Test' #Optional, defaults to 'df2'
)
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0     Trial       11  110527
1      Test        7    1000

Column Summary
--------------

Number of columns in common: 0
Number of columns in Trial but not in Test: 11
Number of columns in Test but not in Trial: 7

Row Summary
-----------

Matched on: index
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,000
Number of rows in Trial but not in Test: 109,527
Number of rows in Test but not in Trial: 0

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1,000

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 0
Total number of values which compare unequal: 0

Sample Rows Only in Trial (First 10 Columns)
--------------------------------------------

           patientid  appointmentid gender          scheduledday        appointmentday  age   neighbourhood  unnamed: 7  hipertension  diabetes
75453   8.274450e+14        5673059      F  2016-05-09T08:51:16Z  2016-05-09T00:00:00Z   32  NOVA PALESTINA         NaN             0         0
72591   9.157890e+11        5751373      F  2016-05-31T10:01:08Z  2016-05-31T00:00:00Z   56         ITARARÉ         NaN             0         0
105727  9.924260e+12        5770609      F  2016-06-03T10:40:51Z  2016-06-07T00:00:00Z   38       CARATOÍRA         NaN             0         0
7738    1.448000e+13        5696186      M  2016-05-13T11:56:39Z  2016-05-13T00:00:00Z   36          BONFIM         NaN             1         0
74030   7.598480e+13        5659574      M  2016-05-04T14:15:44Z  2016-05-04T00:00:00Z   50         COMDUSA         NaN             1         0
4094    6.617920e+12        5655421      F  2016-05-03T17:09:43Z  2016-05-18T00:00:00Z   54     MARIA ORTIZ         NaN             0         0
3549    3.166230e+12        5615375      M  2016-04-25T12:14:57Z  2016-05-30T00:00:00Z   30     RESISTÊNCIA         NaN             0         0
98882   2.398900e+14        5786673      M  2016-06-08T08:44:03Z  2016-06-08T00:00:00Z   52    SANTA MARTHA         NaN             1         0
29464   8.414830e+12        5655151      F  2016-05-03T16:07:16Z  2016-05-18T00:00:00Z   19           ROMÃO         NaN             0         0
7556    1.426680e+13        5597031      M  2016-04-18T15:40:53Z  2016-05-09T00:00:00Z    9      BELA VISTA         NaN             0         0